.square {
  border: 1px solid rgb(134, 133, 133);
  border-radius: 1px;
  background: white;
}

#container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

body {
  height: 1015px;
  display: flex;
  justify-content: center;
  align-items: center;
}
