body {
  height: 1015px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {
  border: 1px solid rgb(134, 133, 133);
  border-radius: 1px;
  background: white;
}

#container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
}

#item {
  margin: 25px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

#tools {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
